#app-body {
    /* background-color: #090c43; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

:host ::ng-deep app-game-search {
    width: 60%;
}

* {
    /* background-color: #090c43;
    color: white; */
    font-family: 'Montserrat', sans-serif;
}

h1 { 
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid black;
}

a {
    color: inherit;
    text-decoration: none;
}